* {
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
  text-align: left;
  font-family: 'Roboto';
}

h2 {
  color: #4c4c4c;
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin-top: 0;
}

ul.entries li {
  display:table-cell;
  font-size: 18px;
}

li {
  background: whitesmoke;
  margin-bottom: 12px;
  padding: 5px;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li:hover {
  background-color: #ececec;
}

li input {
  margin-right: 8px;
  cursor: pointer;
}

p{
  margin-top: 0;
  margin-bottom: 10px;
}
b {
  color: #315796;
}

.main-header {
  padding-left: 40px;
  display: flex;
  flex-flow: row nowrap;

  background-color: #5595ff;
  color: white;
  height: 80px;
}

.main-header-content {

  flex: 1 0 auto;

  display: flex;
  align-items: center;
}

.wrap-whole{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  height:calc(100vh - 80px);
}

.vertical-nav-bar {
  display: flex;
  flex: 0 0 220px;
  flex-flow: column nowrap;
  text-align: center;
  z-index: 30;
  justify-content: flex-start;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.menu-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.main-nav {
  transition: opacity .2s, visibility .2s;
  flex: 1 1 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__main {
  flex: 1 1 600px;
  overflow-y: auto;

  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 30px;

  background: #f5f5f5;
}

.container__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div-spinner {
  display: flex;
  justify-content:center;
}

.Submit {
  background: #5494ff;
    color: white;
    font-weight: 800;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid #5494ff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.Submit:hover {
  box-shadow: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #447fe2;
  border: 1px solid #447fe2;
}

.Submit:focus {
  outline: none;
}

.Question {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Question p:last-child {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {

  .wrap-whole {
    flex-direction: column;

  }

  .main-header {
    margin: auto;
    padding-left: 10px;
    height: 40px;
  }

  .vertical-nav-bar {
    flex: 0 0 100px;
  }

  .main-nav {
    padding: 0 10px;
    text-align: left;
  }

  h2 {
    margin: 5px 0;
    font-size: 1.3rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    width: 35px;
  }

  li input {
    margin-right: 5px;
  }

  .Submit {
    margin-bottom: 10px;
  }

  .container__main {
    padding: 10px 10px 20px;
  }

  .Question {
    margin-bottom: 10px;
    padding: 10px;
  }
}
